{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'portal/images/favico.ico' %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mijn VanBoven</title>
    {% block header %}
    {% endblock %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'portal/css/main.css'%}">
    <link rel="stylesheet" href="{% static 'portal/css/dashboard.css'%}">
    <!-- custom fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed" >

  </head>

  <body>
    <header class="site-header">
      <!--- This is the top bar --->
      <nav class="navbar navbar-expand-md navbar-dark bg-green fixed-top py-0">
        <div class="container">
         <a class="navbar-brand mr-4 py-2" href="{% url 'portal-home' %}">
           <img alt="VanBoven" src="{% static 'portal/images/logo_white_small_transparent.png' %}" height="20 ">
         </a>
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-warning nav-toggle-button" id="toggle-button">
            <span data-feather="menu"></span> <!-- This is the icon -->
          </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item py-0 nav-link" href="{% url 'portal-home' %}">Home</a>
                <a class="nav-item py-0 nav-link" href="{% url 'portal-logout' %}">Log uit</a>
              </div>
              <div class = "navbar-nav ml-auto">
                <span class="navbar-text py-0 ml-auto" >
                  <a class="nav-item py-0 nav-link" href="{% url 'portal-user-profile' %}">
                  {{user.first_name}} {{ user.last_name }}
                  </a>
                </span>
              </div>
            </div>
          {% else %}
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'portal-home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'portal-login' %}">Login</a>
              </div>
            </div>
          {% endif %}
        </div>
      </nav>
    </header>



   <!-- This is the left nav bar -->
    <div class="container-fluid" style="height: 100%">
      <div class="row" style="height: 100%">
        <div class="col-auto  sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" id="js-menu">
              <li class="nav-item">
                <h5 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1"> Menu</h5>
              </li>


            </ul>

            {% if user.is_authenticated %}
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Percelen</span>
              </h6>
              <ul class="nav flex-column mb-2">
              {% for plot in user.customer.get_all_plots %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'portal-map' plot.id %}">
                  {% if this_plot.pk == plot.pk %}
                    <span data-feather="check-square"></span> <!-- This is the icon -->
                  {% else %}
                    <span data-feather="square"></span> <!-- This is the icon -->
                  {% endif %}
                  {{ plot.street }} {{ plot.number }}
                  <span class="text-secondary"> ({{ plot.area | floatformat}} ha.)</span>
                </a>
              </li>
              {% endfor %}
              </ul>
            {% else %}
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <a class="nav-link" href="{% url 'portal-login' %}">
                  <span data-feather="log-in"></span>
                  <span> Log in om je percelen te zien</span>
                </a>
              </h6>

            {% endif %}

          </div>
        </div>
        <!-- This is the main column where the map lives -->
        <div class="col" style="height: 90%">
          {%block content%}
          {% endblock content %}
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script>
      document.querySelector('#toggle-button').addEventListener('click', function() {
      document.querySelector('.sidebar-sticky').classList.toggle('collapsed');
      });
    </script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
