<!doctype html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'portal/images/favico.ico' %}"/>

    <title>Login - Mijn VanBoven</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <div class="content-section">
            <form method="POST">
              {% csrf_token %}
              <img src="{% static 'portal/images/logo_transparent.png' %}" width=150px>
              <fieldset class="form-group">

                {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
              </div>
              <small>
                <a class="text-muted" href="{% url 'portal-login'%}">Wachtwoord vergeten?</a>
              </small>
            </form>
          </div>
          <p class="mt-5 mb-3 text-muted">&copy; 2019 - VanBoven Drones</p>
        </div>
      </div>
    </div>
    </form>
  </body>
</html>
