{% extends "portal/base.html" %}
{% load static %}


{% block header %}


  <!-- Loading a lot of crap -->
  <!-- responsive tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Leaflet itself -->
  <script src="{% static "portal/js/leaflet.js" %}" ></script>
  <link rel="stylesheet" href="{% static "portal/css/leaflet.css" %}" >

  <!-- Jquery -->
  <script src="{% static "portal/js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "portal/js/jquery-1.9.1.min.js" %}"></script>
  <script src="{% static "portal/js/jquery-ui.js" %} "></script>
  <link rel="stylesheet" href="{% static "portal/css/jquery-ui.css" %}" />

  <!-- Legend -->
  <link rel="stylesheet" href="{% static "portal/css/layers_legend_box.css" %}" />

  <!-- leaflet Draw -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw-src.css" />
  <script src="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw-src.js"></script>
  <script src="{% static "portal/js/leaflet-measure-path.js" %} "></script>
  <link rel="stylesheet" href="{% static "portal/css/leaflet-measure-path.css" %}" />

  <!-- nlMaps -->
  <script src="https://rawgit.com/geo-frontend/nlmaps/master/dist/nlmaps.iife.js"></script>

  <!-- Time Slider -->
  <script src="{% static "portal/js/SliderControl.js" %}" type="text/javascript"></script>

  <!-- Heat map -->
  <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>

  <!-- EasyButton -->
  <script src="{% static "portal/js/L.EasyButton.js" %} "></script>
  <link rel="stylesheet" href="{% static "portal/css/L.EasyButton.css" %}" />

  <!-- GroupedLayers -->
  <script src="{% static "portal/js/L.GroupedLayerControl.js" %} "></script>
  <link rel="stylesheet" href="{% static "portal/css/L.GroupedLayerControl.css" %}" />

  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">




  <!-- creating script sources based on user ID-->
  <script>
    var username = "{{ user.username }}"
    var customer_name = "{{ user.customer.customer_name }}"
    var plotname = "{{ this_plot.name }}"
    var plotid = "{{ this_plot.id }}"
    var basic_data_path = "{{ MEDIA_URL }}data/"
  </script>

{% endblock %}

{% block content %}

  <div id='map' class="map"></div>

  <script>

    var lat = {{ this_plot.shape.centroid.y }}
    var lon = {{ this_plot.shape.centroid.x }}
    var center_coords = [lat, lon]
    var init_zoom = 17
    var max_native_zoom = 23
    var max_zoom = 24

    // initalize slider control
    var sliderControl = null;

    // create an empty map and base map
    var map = L.map('map', {
      center: center_coords,
      zoom: init_zoom,
      crs: L.CRS.EPSG3857,
    });

    var base_sat =  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      id: 'mapbox.satellite',
      accessToken: 'pk.eyJ1IjoiYm5vb3RlYm9zIiwiYSI6ImNqcXA3ZHAzODBtbWM0MnBzZm5vbGRndmUifQ.H2zjIsYA5P2SFxZlSBIYjA',
      maxZoom:max_zoom
    });

    var aerialRGB = L.tileLayer.wms("https://geodata.nationaalgeoregister.nl/luchtfoto/rgb/wms?", {
    layers: 'Actueel_ortho25',
    format:'image/png',
    transparent: true,
    tile:true,
    maxZoom:max_zoom
    });
    aerialRGB.addTo(map);

    var aerialIR = L.tileLayer.wms("https://geodata.nationaalgeoregister.nl/luchtfoto/infrarood/wms?", {
    layers: 'Actueel_ortho25IR',
    format:'image/png',
    transparent: true,
    tile:true,
    maxZoom:max_zoom,
    });

    {% if user.is_staff %}
      var dronezones = L.tileLayer.wms("https://geodata.nationaalgeoregister.nl/dronenoflyzones/wms?", {
      layers: 'luchtvaartgebieden_zonder_natura2000',
      format:'image/png',
      transparent: true,
      tile:true,
      maxZoom:max_zoom
      });
    {% endif %}


    // LAYERS
    var scan_list = []
    {% for scan in scans %}
      var scan_date = {{ scan.date|date:"Ymd" }}
      var scan_path = basic_data_path + customer_name + "/" + plotname + "/" + scan_date + "/{z}/{x}/{y}.png"
      var customer_scan_{{ scan.date|date:"Ymd" }} =  L.tileLayer(scan_path, {
        minZoom: 15,
        maxZoom: max_zoom,
        maxNativeZoom: max_native_zoom,
        tms: true,
        time: "{{scan.date }}"
      });
      //scan_list.push(customer_scan_{{ scan.date|date:"Ymd" }})
      var new_entry = {
                        "{{ scan.date|date:"j E Y" }}":
                        customer_scan_{{ scan.date|date:"Ymd" }}
                      }
      var scan_list = $.extend(scan_list, new_entry)

      {% if forloop.first %}
        customer_scan_{{ scan.date|date:"Ymd" }}.addTo(map)
      {% endif %}

    {% endfor %}

    //Import shape from DB
    //var plot = L.polygon({{ shape.coords }})
    var latlongs = {{ latlong }};
    var plotshape = L.polygon(latlongs, {fillOpacity: 0, color: 'red'});
    var plotlayer = L.layerGroup([plotshape]).addTo(map);
    // var aerial = nlmaps.leaflet.bgLayer('luchtfoto')

    // My draw Toolbar
    var drawnItems = new L.FeatureGroup()
    map.addLayer(drawnItems)
    var drawControl = new L.Control.Draw({
      draw:{polyline: {shapeOptions: {showMeasurements: {showOnHover: true}}},
            polygon: false,
            marker: false,
            circlemarker: false,
            rectangle: false,
            circle: false,
        },
      edit: {
        featureGroup: drawnItems,
        edit: false
      }
    });

    map.addControl(drawControl);
    map.on(L.Draw.Event.CREATED, function (e) {
       var layer = e.layer;
       drawnItems.addLayer(layer);
    });

    var baseMaps = {"Luchtfoto's":aerialRGB ,"Sateliet":base_sat};

    var overlayMaps = {
      "Scans": scan_list,
      "Extra's": {
        {% if user.is_staff %}
        "No-Fly":dronezones
        {% endif %}
      }
    };

    // LAYER CONTROL
    L.control.groupedLayers(baseMaps, overlayMaps,{collapsed:false, exclusiveGroups:['Scans']}).addTo(map);
    L.easyButton('fa-vector-square',function(btn,map){
      map.setView([lat, lon], init_zoom);
    },'Terug naar perceel').addTo(map);

    //layerGroup = L.layerGroup(scan_list);
    //var sliderControl = L.control.sliderControl({position: "topright", layer:layerGroup, no_of_layers:scan_list.length, alwaysShowDate:true, follow:3});
    //map.addControl(sliderControl);
    //sliderControl.startSlider();



  </script>
{% endblock %}
