{% extends "portal/base.html" %}
{% load static %}


{% block header %}


  <!-- Loading a lot of crap -->
  <!-- responsive tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Leaflet itself -->
  <script src="{% static "portal/js/leaflet.js" %}" ></script>
  <link rel="stylesheet" href="{% static "portal/css/leaflet.css" %}" >

  <!-- Jquery -->
  <script src="{% static "portal/js/jquery-3.3.1.min.js" %}"></script>
  <script src="{% static "portal/js/jquery-1.9.1.min.js" %}"></script>
  <script src="{% static "portal/js/jquery-ui.js" %} "></script>
  <link rel="stylesheet" href="{% static "portal/css/jquery-ui.css" %}" />

  <!-- Legend -->
  <link rel="stylesheet" href="{% static "portal/css/layers_legend_box.css" %}" />

  <!-- leaflet Draw -->
  <!-- <link rel="stylesheet" href="{% static "portal/css/L.draw.css" %}" /> -->
  <!-- <script src="{% static "portal/js/L.draw.js" %} "></script> -->

  <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw-src.css" />
  <script src="https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw-src.js"></script>
  <script src="{% static "portal/js/leaflet-measure-path.js" %} "></script>
  <link rel="stylesheet" href="{% static "portal/css/leaflet-measure-path.css" %}" />

  <!-- Time Slider -->
  <script src="{% static "portal/js/SliderControl.js" %}" type="text/javascript"></script>

  <!-- Heat map -->
  <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js"></script>


  <!-- creating script sources based on user ID-->
  <script>
    var username = "{{ user.username }}"
    var customer_id = "{{ user.customer.customer_id }}"
    var plotname = "{{ this_plot.name }}"
    var plotid = "{{ this_plot.id }}"
    var basic_data_path = "{{ MEDIA_URL }}data/"
  </script>

{% endblock %}

{% block content %}

  <div id='map' class="map"></div>

  <script>

    var lat = {{ this_plot.shape.centroid.y }}
    var lon = {{ this_plot.shape.centroid.x }}
    var center_coords = [lat, lon]
    var max_native_zoom = 24
    var max_zoom = 25

    // initalize slider control
    var sliderControl = null;

    // create an empty map and base map
    var map = L.map('map', {
      center: center_coords,
      zoom: 17,
      crs: L.CRS.EPSG3857,
    });

    var base_sat =  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      id: 'mapbox.satellite',
      accessToken: 'pk.eyJ1IjoiYm5vb3RlYm9zIiwiYSI6ImNqcXA3ZHAzODBtbWM0MnBzZm5vbGRndmUifQ.H2zjIsYA5P2SFxZlSBIYjA',
      time: "2013-01-22 8:42:26+01",
      maxZoom:max_zoom
    }).addTo(map);

    // LAYERS
    var scan_list = []
    var scan_list_test = []
    {% for scan in scans %}
      var scan_date = {{ scan.date|date:"Ymd" }}
      var scan_path = basic_data_path + customer_id + "/" + plotname + "/" + scan_date + "/{z}/{x}/{y}.png"
      var customer_scan_{{ scan.date|date:"Ymd" }} =  L.tileLayer(scan_path, {
        minZoom: 15,
        maxZoom: max_zoom,
        maxNativeZoom: max_native_zoom,
        tms: true,
        time: "{{scan.date }}"
      });
      scan_list.push(customer_scan_{{ scan.date|date:"Ymd" }})
      var new_entry = {
                        "<span class='text-secondary'>{{ scan.date|date:"j E Y" }}</span>":
                        customer_scan_{{ scan.date|date:"Ymd" }}
                      }
      var scan_list_test = $.extend(scan_list_test, new_entry)

      {% if forloop.first %}
        customer_scan_{{ scan.date|date:"Ymd" }}.addTo(map)
      {% endif %}

    {% endfor %}

    // My draw Toolbar
    var drawnItems = new L.FeatureGroup()
    map.addLayer(drawnItems)
    var drawControl = new L.Control.Draw({
      draw:{polyline: {shapeOptions: {showMeasurements: {showOnHover: true}}},
            marker: false,
            circlemarker: false,
            rectangle: false,
            circle: false,
        },
      edit: {
        featureGroup: drawnItems,
        edit: false
      }
    });

    map.addControl(drawControl);
    map.on(L.Draw.Event.CREATED, function (e) {
       var layer = e.layer;
       drawnItems.addLayer(layer);
    });


    // LAYER CONTROL
    layerGroup = L.layerGroup(scan_list);

    //var sliderControl = L.control.sliderControl({position: "topright", layer:layerGroup, no_of_layers:scan_list.length, alwaysShowDate:true, follow:3});
    //map.addControl(sliderControl);
    //sliderControl.startSlider();
    L.control.layers(scan_list_test,null,{collapsed:false}).addTo(map)



  </script>
{% endblock %}
