{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
  {% if user.is_authenticated %}
    <div class="col-md-12 col-lg-8">
      <span>Je wachtwoord is bekend, je bent ingelogd.</span>
    </div>
  {% else %}
    <div class="content-section col-md-12 col-lg-8">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Herstel wachtwoord</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Wachtwoord instellen</button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock content %}
